body {
    background-image: url(a.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 50%;
  box-shadow: 0 6px darkgrey;
  position: relative;
  left: 380px;
  top: 530px;
}
.button:hover {background-color: red}

.button:active {
  background-color: red;
  box-shadow: 0 6px darkgrey;
  transform: translateY(4px);
}

#justAbtn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 50%;
  box-shadow: 0 6px darkgrey;
  position: relative;
  left: 400px;
  top: 480px;
}

.justAbtn:hover {background-color: red}

.justAbtn:active {
  background-color: red;
  box-shadow: 0 6px darkgrey;
  transform: translateY(4px);
}


img {
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    position: relative;
    left: 220px;
    top: 280px;
    animation: animate 1.5s linear infinite;
}
@keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 0;
    }
  }

  
